@custom-media --on-small (width < 600px);
@custom-media --on-medium (width >= 600px);
@custom-media --on-large (width >= 960px);
@custom-media --as-sp (--on-small);
@custom-media --as-pc (--on-medium);



:root {
	--rem-on-small: 5vw;
	--rem-on-medium: 1.6666666666666667vw;
	--rem-on-large: 16px;
}
